
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.db
.DS_Store
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp

# OS
Thumbs.db
